In [1]:
import pandas as pd

### High level look at data

In [13]:
df_sailor = pd.read_json("../data/official_brand_sites/sailor.json")
print(df_sailor.shape)
df_sailor.head(2)

(272, 6)

,brand,name,colors,color_names,description,details
0,sailor,Naginata Togi Ebonite Fountain Pen,[],[],[\n The once-a-year relea...,"{'Item Code': ['10-1813-378 (MF)', '10-1813-47..."
1,sailor,SHIKIORI Kusa Asobi Fountain Pen,"[#ffb6c1, #00bfff, #8b4513, #006400]","[Hanakanmuri, Sasabune, Tsurubami, Yukiusagi]",[\n This is a fountain pe...,"{'Item Code': ['［ Hanakanmuri ］', '11-0657-201..."

In [14]:
df_kaweco = pd.read_json("../data/official_brand_sites/kaweco.json")
print(df_kaweco.shape)
df_kaweco.head(2)

(90, 5)

,brand,name,price,size,details
0,kaweco,[\nKaweco CLASSIC SPORT Fountain Pen Navy\n],"[\n, \n24.95€ *\n]","[\nExtra Fine\n, \nFine\n, \nMedium\n, \nBroad...","{'Material Colour:': 'Blue', 'Writing System:'..."
1,kaweco,[\nKaweco COLLECTION Fountain Pen Vibrant Viol...,"[\n, \n69.50€ *\n]","[\nExtra Fine\n, \nFine\n, \nMedium\n, \nBroad...","{'Material Colour:': 'Lila', 'Writing System:'..."

In [15]:
df_lamy = pd.read_json("../data/official_brand_sites/lamy.json")
print(df_lamy.shape)
df_lamy.head(2)

(12, 8)

,brand,name,price,size,weight,nib,color_names,description
0,lamy,[LAMY AL-star Fountain Pen black],€28.50,0.51 x 0.51 x 5.50 mm,0.05,"[variant_nib_grade_F, variant_nib_grade_M, var...","[variant_model_color_material_aquatic, variant...","[Light, lighter, LAMY AL-star: the writing cla..."
1,lamy,[LAMY joy AL Fountain Pen black],€28.00,12 x 12 x 182 mm,20.00,"[variant_nib_grade_1,9, variant_nib_grade_1,5,...",[variant_model_color_material_black],[Discover the LAMY joy: it is the perfect writ...